In [ ]:
# Saída de dados (na tela)
print("Hello, World!!")

Hello, World!!

### Tipos de dados

 - Inteiros   $→$ int
 - Reais      $→$ float
 - Booleano   $→$ bool
 - Texto(string) $→$ str

In [ ]:
# Criando variáveis
numero = 23
real = 3.14
teste = True # False
texto = "Sou uma string"

In [ ]:
# Tipos de comentários: de linha e de bloco

# Comentário de linha
'''
  Comentário
  de
  bloco
''';

"""
Vale
com
aspas duplas
""";

In [ ]:
print(numero)
real

23

3.14

In [ ]:
# Tipagem dinâmica
numero = 23
print(numero)
numero = 3.14
print(numero)
numero = False
print(numero)
numero = "Texto..."
print(numero)

23
3.14
False
Texto...

In [ ]:
# Verificando o tipo de uma variável: type()
numero = 23
print(numero, type(numero))
numero = 3.14
print(numero, type(numero))
numero = False
print(numero, type(numero))
numero = "Texto..."
print(numero, type(numero))

23 <class 'int'>
3.14 <class 'float'>
False <class 'bool'>
Texto... <class 'str'>

In [ ]:
# Entrada manual de dados: input()

# Fluxograma 2
print("Digite um número: ")
numero = input()
print("O número digitado foi:", numero)

Digite um número:
78
O número digitado foi: 78

In [ ]:
# Fluxograma 2 (em 2 linhas)
numero = input("Digite um número: ")
print("O número digitado foi:", numero)

Digite um número: 789
O número digitado foi: 789

In [ ]:
# Fluxograma 2 (em 1 linha)
print("O número digitado foi:", input("Digite um número: "))

Digite um número: 23
O número digitado foi: 23

 ## Operações aritméticas

 - '+'   $→$  Adição
 - '-'   $→$  Subtração
 - '*'   $→$  Multiplicação
 - '/'   $→$  Divisão
 - '//'  $→$  Divisão inteira
 - '%'   $→$  Resto da divisão inteira
 - '**'  $→$  Exponenciação

In [ ]:
# Operações aritméticas
x = 2
y = 3

print(x,"+" ,y, "=", x + y)  # 5
print(x,"-" ,y, "=", x - y)  # 1
print(x,"*" ,y, "=", x * y)  # 6
print(x,"/" ,y, "=", x / y)  # 1.5
print(x,"//" ,y, "=", x // y) # 1
print(x,"%" ,y, "=", x % y)   # 1
print(y,"//" ,x, "=", y // x) # 0
print(y,"%" ,x, "=", y % x)   # 0
print(x,"**" ,y, "=", x ** y) # 8

2 + 3 = 5
2 - 3 = -1
2 * 3 = 6
2 / 3 = 0.6666666666666666
2 // 3 = 0
2 % 3 = 2
3 // 2 = 1
3 % 2 = 1
2 ** 3 = 8

In [ ]:
# Fluxograma 3
ano = input("Digite o ano de seu nascimento: ")
idade = 2025 - ano
print('Sua idade no fim de 2025 será', ano, 'anos.' )

Digite o ano de seu nascimento: 2000

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [ ]:
# Cast/Casting

int("26") # string para inteiro

26

In [ ]:
# Nem sempre é possível fazer o cast

int("casa")

ValueError: invalid literal for int() with base 10: 'casa'

In [ ]:
# Fluxograma 3
ano = input("Digite o ano de seu nascimento: ")
idade = 2025 - int(ano)
print('Sua idade no fim de 2025 será', idade, 'anos.' )

Digite o ano de seu nascimento: 2000
Sua idade no fim de 2025 será 25 anos.

In [ ]:
# Explorando a função print
"Quem nasceu em 2000 terá 25 anos."
print('Quem nasceu em', ano, 'terá', idade, 'anos.')
print('Quem nasceu em ' + ano + ' terá '+str(idade)+' anos.') # Java style
print("Quem nasceu em {} terá {} anos.".format(ano, idade)) # Old Python
print(f'Quem nasceu em {ano} terá {idade} anos.') # Atual

Quem nasceu em 2000 terá 25 anos.
Quem nasceu em 2000 terá 25 anos.
Quem nasceu em 2000 terá 25 anos.
Quem nasceu em 2000 terá 25 anos.

In [ ]:
# Calculando o IMC
peso = float(input('Digite o seu "peso" (kg): '))
altura = float(input('Digite sua altura (em m): '))

imc = peso / altura**2

Digite o seu "peso" (kg): 70
Digite sua altura (em m): 1.7
O seu imc vale 24.22.

In [ ]:

print(f'O seu imc vale {imc:.2f}')

O seu imc vale 24.22

In [ ]:
x = 2.5
y = 3.5
print(f'x = {x:.0f}')
print(f'y = {y:.0f}')

x = 2
y = 4